# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/build/
/.gradle/
/.idea/
*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
